.about-section {
    /* padding: 4rem 2rem; */
    background-color: #000000;
    text-align: center;
    min-height: 100vh;
	margin-top: -1.98rem;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	margin-left: -50vw;
	margin-right: -50vw;
}

.about-section h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.about-section p {
    font-size: 1.2rem;
    color: #666;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .about-section {
        padding: 2rem 1rem;
    }

    .about-section h1 {
        font-size: 2rem;
    }

    .about-section p {
        font-size: 1rem;
    }
}