.about-section {
    background-color: #000000;
    text-align: center;
    min-height: 100vh;
	margin-top: -5.98rem;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	margin-left: -50vw;
	margin-right: -50vw;
}

.about-content {
  max-width: 1200px;
  width: 100%;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.image-container {
  flex: 1;
  min-width: 300px;
}

.about-image {
  width: 100%;
  max-width: 25rem;
  height: auto;
  border-radius: 3rem;
}

.text-container {
  flex: 1;
  min-width: 300px;
}

.about-section h1 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 2rem;
  text-align: center;
}

.about-section p {
  font-size: 1.2rem;
  color: #ffffff;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .about-section {
    padding: 1rem;
  }

  .about-container {
    flex-direction: column;
  }

  .about-section h1 {
    font-size: 2rem;
  }

  .about-section p {
    font-size: 1rem;
  }

  .image-container,
  .text-container {
    width: 100%;
  }
}
